
<h1 style="text-align: center; padding-top: 25px;">Your Selection!</h1>

<div class="d-flex flex-column align-items-center my-4" data-controller="toggle">

  <div data-toggle-target="container1Element" class="row justify-content-center movie-info mb-3">
    <div class="movie-card col-4" data-action="click->toggle#button1" style="background-image:url('<%= @result[0]["poster"] %>')">
      <%= render "shared/popup_1" %>
    </div>
    <div data-toggle-target="appear1Element" class="d-none infos d-flex flex-column align-items-start col-8">
      <%= render "shared/appear_1" %>
    </div>
  </div>

  <div data-toggle-target="container2Element" class="row justify-content-center movie-info mb-3">
    <div class="movie-card col-4" data-action="click->toggle#button2" style="background-image:url('<%= @result[1]["poster"] %>')">
      <%= render "shared/popup_2" %>
    </div>
    <div data-toggle-target="appear2Element" class="d-none infos d-flex flex-column align-items-start col-8">
      <%= render "shared/appear_2" %>
    </div>
  </div>

  <div data-toggle-target="container3Element" class="row justify-content-center movie-info mb-3">
    <div class="movie-card col-4" data-action="click->toggle#button3" style="background-image:url('<%= @result[2]["poster"] %>')">
      <%= render "shared/popup_3" %>
    </div>
    <div data-toggle-target="appear3Element" class="d-none infos d-flex flex-column align-items-start col-8">
      <%= render "shared/appear_3" %>
    </div>
  </div>
  <div class="generate-button-container">
    <div class="generate-button">
      <button data-action="click->toggle#refresh" class="button-get-started">Generate New Selection</button>
    </div>
  </div>

</div>
