<div class= "banner d-flex justify-content-center align-items-center">
  <h2>Select your <br />preferences</h2>
</div>


<%= form_with url: preferences_movies_path, class: "form-height", method: :get do |f| %>
    <div class="section mt-5">
      <h5>Format</h5>
      <div class="d-flex scrolling">
        <div class="radio-space" id="movie-image">
          <%= f.radio_button :format, "movie", id: 'movie' %>
          <%= f.label :format, "Movies", for: "movie" %>
        </div>
        <div class="radio-space" id="serie-img">
          <%= f.radio_button :format, "tv_series", id: 'tv_series' %>
          <%= f.label :format, "Series", for: "tv_series" %>
        </div>
        <div class="radio-space" id="short-img">
          <%= f.radio_button :format, "short_film", id: 'short_film' %>
          <%= f.label :format, "Short Films", for: "short_film" %>
        </div>
        <div class="radio-space" id="mini-img">
          <%= f.radio_button :format, "tv_miniseries", id: 'tv_miniseries' %>
          <%= f.label :format, "Mini Series", for: "tv_miniseries" %>
        </div>
      </div>
    </div>

    <div class="section mt-5 container">
      <h5>Runtime</h5>
      <div class="d-flex scrolling">
        <div class="radio-space">
          <%= f.radio_button :runtime, "60", id: '60' %>
          <%= f.label :runtime, "1h and less", for: "60" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :runtime, "120", id: '120' %>
          <%= f.label :runtime, "1h - 2h", for: "120" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :runtime, "180", id: '180' %>
          <%= f.label :format, "3h and more", for: "180" %>
        </div>
      </div>
    </div>

    <div class="section mt-5">
      <h5>Genre</h5>
      <div class="d-flex scrolling">
        <div class="radio-space" id="action-img">
          <%= f.radio_button :genre, "28", id: '28' %>
          <%= f.label :genre, "Action", for: "28" %>
        </div>
        <div class="radio-space" id="adventure-img">
          <%= f.radio_button :genre, "12", id: "12" %>
          <%= f.label :genre, "Adventure", for: "12" %>
        </div>
        <div class="radio-space" id="animation-img">
          <%= f.radio_button :genre, "16", id: '16' %>
          <%= f.label :genre, "Animation", for: "16" %>
        </div>
        <div class="radio-space" id="comedy-img">
          <%= f.radio_button :genre, "35", id: '35' %>
          <%= f.label :genre, "Comedy", for: "35" %>
        </div>
        <div class="radio-space" id="crime-img">
          <%= f.radio_button :genre, "80", id: '80' %>
          <%= f.label :genre, "Crime", for: "80" %>
        </div>
        <div class="radio-space" id="docu-img">
          <%= f.radio_button :genre, "99", id: '99' %>
          <%= f.label :genre, "Documentary", for: "99" %>
        </div>
        <div class="radio-space" id="drama-img">
          <%= f.radio_button :genre, "18", id: '18' %>
          <%= f.label :genre, "Drama", for: "18" %>
        </div>
        <div class="radio-space" id="family-img">
          <%= f.radio_button :genre, "10751", id: '10751' %>
          <%= f.label :genre, "Family", for: "10751" %>
        </div>
        <div class="radio-space" id="fantasy-img">
          <%= f.radio_button :genre, "14", id: '14' %>
          <%= f.label :genre, "Fantasy", for: "14" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "36", id: '36' %>
          <%= f.label :genre, "History", for: "36" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "27", id: '27' %>
          <%= f.label :genre, "Horror", for: "27" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "10402", id: '10402' %>
          <%= f.label :genre, "Music", for: "10402" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "9648", id: '9648' %>
          <%= f.label :genre, "Mystery", for: "9648" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "10749", id: '10749' %>
          <%= f.label :genre, "Romance", for: "10749" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "878", id: '878' %>
          <%= f.label :genre, "Science Fiction", for: "878" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "10770", id: '10770' %>
          <%= f.label :genre, "TV Movie", for: "10770" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "53", id: '53' %>
          <%= f.label :genre, "Thriller", for: "53" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "10752", id: '10752' %>
          <%= f.label :genre, "War", for: "10752" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :genre, "37", id: '37' %>
          <%= f.label :genre, "Western", for: "37" %>
        </div>
      </div>
    </div>

    <div class="section mt-5 container">
      <h5>Period</h5>
      <div class="d-flex scrolling">
        <div class="radio-space">
          <%= f.radio_button :period, "20240101", id: '20240101' %>
          <%= f.label :period, "This year", for: "20240101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "20200101", id: '20200101' %>
          <%= f.label :period, "2020's", for: "20200101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "20100101", id: '20100101' %>
          <%= f.label :period, "2010's", for: "20100101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "20000101", id: '20000101' %>
          <%= f.label :period, "2000's", for: "20000101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19900101", id: '19900101' %>
          <%= f.label :period, "1990's", for: "19900101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19800101", id: '19800101' %>
          <%= f.label :period, "1980's", for: "19800101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19700101", id: '19700101' %>
          <%= f.label :period, "1970's", for: "19700101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19600101", id: '19600101' %>
          <%= f.label :period, "1960's", for: "19600101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19500101", id: '19500101' %>
          <%= f.label :period, "1950's", for: "19500101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19400101", id: '19400101' %>
          <%= f.label :period, "1940's", for: "19400101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19300101", id: '19300101' %>
          <%= f.label :period, "1930's", for: "19300101" %>
        </div>
        <div class="radio-space">
          <%= f.radio_button :period, "19200101", id: '19200101' %>
          <%= f.label :period, "1920's", for: "19200101" %>
        </div>
      </div>
    </div>

    <div class="text-center mt-3 form-submit">
      <%= f.submit "See my selection" %>
    </div>
<% end %>
  <%# <div class="container mt-4">
    <h5>Format</h5>
  </div> %>
