<div class= "banner d-flex justify-content-center align-items-center">
  <h2>Select your <br />preferences</h2>
</div>


<div class="container mt-5">
  <h5>Format</h5>
</div>

<div class="form-height">
  <%= form_with url: preferences_movies_path, class: "height", method: :get do |form| %>
    <div class="d-flex flex-column">
      <div class="row">
        <div class="col-4">
          <%= form.check_box :movie, { multiple: false }, "movie", nil %>
          <%= form.label :movie, "Movies" %>
        </div>
        <div class="col-4">
          <%= form.check_box :tv_show, { multiple: false }, "tv_show", nil %>
          <%= form.label :tv_show, "Series" %>
        </div>
        <div class="mt-5">
          <%= form.submit "Generate" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <%# <div class="container mt-4">
    <h5>Format</h5>
  </div> %>
