<h1>This is the show page of the movie_watchlist. Please style me at a later time</h1>

<h2>Title: <%= @movie_watchlist.title %></h2>
<h3>Description: <%= @movie_watchlist.overview %></h3>
<h3>Release_date: <%= @movie_watchlist.release_date %></h3>
<h3>Movie_poster: <%= @movie_watchlist.poster_path %></h3>
<h3>Movie_poster: <%= @movie_watchlist.backdrop_path %></h3>
<h3>Movie_poster: <%= @movie_watchlist.tmdb_id %></h3>
<h3>Movie_poster: <%= @movie_watchlist.vote_average %></h3>
<h3>Movie_poster: <%= @movie_watchlist.runtime %></h3>
<h3>Movie_poster: <%= @movie_watchlist.trailer_youtube_key %></h3>
